In [26]:
import numpy as np
import pandas as pd

import metrics

In [46]:
table = pd.read_excel('../data.xlsx')
table.head()

,Название,Специальность,Телефон,email,Сайт,vk.com,instagram.com,facebook.com,Место,Метро,Расписание,Прейскурант
0,"Студия художественного творчества ""ПАЛИТРА""",Рисование,79175367002,izozavart@yandex.ru,www.galleryart-mos.com,https://vk.com/vserisujut,https://www.instagram.com/izozavart/,None,"Литовский бульвар, 19",Ясенево,По телефону,По телефону
1,Школа рисования для взрослых Матита,Рисование,74993978111,art-matita@mail.ru,http://art-matita.ru/blog/,https://vk.com/artmatita,http://instagram.com/artmatita,None,"Цветной бульвар д. 16/1, подъезд 2, Офис 12 , ...","Цветной бульвар, Трубная",По телефону,По телефону
2,Художественная школа «Дом ИЗО»,Рисование,79152554378,nitaso@mail.ru,http://domizo.ru/shkola-zhivopisi-dlya-vzroslih,None,https://www.instagram.com/domizo.ru/,None,"ул.Тверская дом 6,строение 6",Охотный ряд,http://domizo.ru/schedule,http://domizo.ru/cost
3,Школа Искусств Перотти на Динамо,Рисование,74959201280,info@perottischool.ru,https://www.perottischool.ru/,https://vk.com/perottiartschool,https://www.instagram.com/perottiartschool/,https://www.facebook.com/schoolperotti/,"ул. Расковой, дом 16/18","Белорусская, Динамо",https://www.perottischool.ru/kalendar-perotti/,https://www.perottischool.ru/stoimost/
4,Школа Искусств Перотти на Юго-Западе,Рисование,74959201278,info@perottischool.ru,https://www.perottischool.ru/,https://vk.com/perottiartschool,https://www.instagram.com/perottiartschool/,https://www.facebook.com/schoolperotti/,"ул. Никулинская дом 6, корп. 3",Юго-Западная,https://www.perottischool.ru/kalendar-perotti/,https://www.perottischool.ru/stoimost/

In [112]:
# Строчки из None
table.drop(range(244, 263), inplace=True)

In [93]:
result = pd.read_csv('../result.csv')
result.head()

,Unnamed: 0,url,email,phone,vk.com,instagram.com,facebook.com,image_source,schedule,title,ok.ru,address,metro_station
0,0,http://www.galleryart-mos.com,izozavart@gmail.com,+7 917 536 70 02,NaN,https://www.instagram.com/izozavart/,https://www.facebook.com/palitrayasenevo/,NaN,NaN,Купить картину в Москве | Галерея художников М...,NaN,NaN,NaN
1,0,http://art-matita.ru/blog/,art-matita@mail.ru,+7 (925) 488-82-47,NaN,NaN,NaN,https://art-matita.ru/blog/wp-content/uploads/...,NaN,Школа рисования и живописи в Москве: студия Ar...,NaN,NaN,NaN
2,0,http://domizo.ru/shkola-zhivopisi-dlya-vzroslih,nitaso@mail.ru,+7 (915) 255-43-78,NaN,https://www.instagram.com/domizo.ru/,NaN,https://domizo.ru/wp-content/uploads/2018/05/i...,https://domizo.ru/schedule,Обучение рисованию и живописи для взрослых,NaN,NaN,NaN
3,0,https://www.perottischool.ru/,info@perottischool.ru,8(495)920-12-80,https://vk.com/perottiartschool,https://www.instagram.com/perottiartschool/,https://www.facebook.com/schoolperotti/,https://www.perottischool.ru/wp-content/upload...,NaN,— курсы рисования и живописи в Москве,NaN,Расковой ул. 16,NaN
4,0,https://izokurs.ru/,123@izokurs.ru,+7(499) 551-56-15,https://vk.com/izokurs,https://www.instagram.com/izokurs/,https://www.facebook.com/izokurs/,https://izokurs.ru/assets/tpl/images/maintop/s...,NaN,Школа Рисования для Взрослых | Рисунок и Живоп...,NaN,"Большая Татарская улица, 35, стр. 7-9",Новокузнецкая

# Предобработка данных

Приводим адрес сайта к единному формату

In [95]:
def url_preproc(url: str):
    # Убираем http в начале
    url = url.replace('http://', '')
    url = url.replace('https://', '')

    # Убираем '/' в конце
    if list(url)[-1] == '/':
        url = "".join(list(url)[:-1])

    return url

In [103]:
for i in table.index:
    table['Сайт'][i] = url_preproc(table['Сайт'][i])
    
for i in result.index:
    result['url'][i] = url_preproc(result['url'][i])

/home/dariafil/yakun/hobby-repo/ml/enviroment/env/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

# Подсчет метрик

Почему-то ноутбуку не хочет импортить файл сюда, поэтому я его просто скопипастил

In [130]:
import numpy as np
import pandas as pd

def url_preproc(url: str):
    # Убираем http в начале
    url = url.replace('http://', '')
    url = url.replace('https://', '')

    # Убираем '/' в конце
    if list(url)[-1] == '/':
        url = "".join(list(url)[:-1])

    return url



def calc_accuracy(data: pd.DataFrame, res: pd.DataFrame,
                  col_in_data: str, col_in_res: str,
                  key_in_data='Сайт', key_in_res='url',
                  preproc=None, print_wrong_answers=False):

    if preproc is None:
        preproc = lambda x: x


    # Содержательная часть кода начинается тут
    right_ans = 0
    for i in res.index:
        url = res[key_in_res][i]
        prediction = res[col_in_res][i]
        correct_answers = data[col_in_data][data[key_in_data] == url]
        if np.any([preproc(prediction) == preproc(ans) for ans in correct_answers]):
            right_ans += 1
        elif print_wrong_answers:
            print(f'Pred = {prediction}')
            print(f'Correct = {correct_answers}')
            print('')

    return right_ans / len(res)

**email**

In [126]:
calc_accuracy(
    table, result,
    'email', 'email'
)

0.5

In [125]:
calc_accuracy(
    table, result,
    'email', 'email',
    print_wrong_answers=True
)

Pred = izozavart@gmail.com
Correct = 0    izozavart@yandex.ru
Name: email, dtype: object

Pred = nan
Correct = 6    art-creativity@mail.ru
Name: email, dtype: object

Pred = nan
Correct = 7    artfabrica.moscow@gmail.com
Name: email, dtype: object

Pred = nan
Correct = 8    artfabrica.moscow@gmail.com
Name: email, dtype: object

Pred = nan
Correct = 9    artfabrica.moscow@gmail.com
Name: email, dtype: object

Pred = nan
Correct = 16     info@muzykalnaya-shkola.ru
Name: email, dtype: object

Pred = nan
Correct = 20    None
21    None
22    None
23    None
Name: email, dtype: object

Pred = contract@tancy.pro
Correct = 26    info@tancy.pro
Name: email, dtype: object

Pred = info@major-tennis.ru
Correct = 32    None
Name: email, dtype: object

Pred = nan
Correct = 43    None
44    None
45    None
46    None
47    None
48    None
49    None
50    None
51    None
52    None
Name: email, dtype: object

Pred = Tfirst.ru@gmail.com
Correct = 53    None
54    None
55    None
56    None
57    None
58    None
59    None
60    None
61    None
62    None
63    None
64    None
65    None
66    None
67    None
68    None
69    None
70    None
71    None
Name: email, dtype: object

Pred = hockey-school@mail.ru
Correct = 72    None
73    None
74    None
Name: email, dtype: object

Pred = hr@chesstogo.ru
Correct = 86    mail@chesstogo.ru
87    mail@chesstogo.ru
88    mail@chesstogo.ru
89    mail@chesstogo.ru
90    mail@chesstogo.ru
91    mail@chesstogo.ru
92    mail@chesstogo.ru
93    mail@chesstogo.ru
94    mail@chesstogo.ru
95    mail@chesstogo.ru
96    mail@chesstogo.ru
97    mail@chesstogo.ru
98    mail@chesstogo.ru
Name: email, dtype: object

0.5

В основном тут ситуации вида:

1) Парсер ничего не нашел.

2) Парсер нашел один емэйл, а ручками был найден другой.

3) Никто ничего не нашел.

Ситуаций, когда парсер выдает какую-то ерунуду, не обнаружено

**vk.com**

In [138]:
calc_accuracy(
    table, result,
    'vk.com', 'vk.com',
)

0.38461538461538464

In [132]:
calc_accuracy(
    table, result,
    'vk.com', 'vk.com',
    print_wrong_answers=True
)

Pred = nan
Correct = 0    https://vk.com/vserisujut
Name: vk.com, dtype: object

Pred = nan
Correct = 1    https://vk.com/artmatita
Name: vk.com, dtype: object

Pred = nan
Correct = 2    None
Name: vk.com, dtype: object

Pred = nan
Correct = 6    None
Name: vk.com, dtype: object

Pred = nan
Correct = 7    https://vk.com/artfabrica2015
Name: vk.com, dtype: object

Pred = nan
Correct = 8    https://vk.com/artfabrica2016
Name: vk.com, dtype: object

Pred = nan
Correct = 9    https://vk.com/artfabrica2017
Name: vk.com, dtype: object

Pred = nan
Correct = 13    None
Name: vk.com, dtype: object

Pred = https://vk.com/music_school_db
Correct = 14    https://vk.com/istarmoscow1
15    https://vk.com/istarmoscow2
Name: vk.com, dtype: object

Pred = nan
Correct = 16    https://vk.com/shkolamaestro
Name: vk.com, dtype: object

Pred = http://vk.com/club20195808
Correct = 20    https://vk.com/club20195808
21    https://vk.com/club20195809
22    https://vk.com/club20195810
23    https://vk.com/club20195811
Name: vk.com, dtype: object

Pred = nan
Correct = 27    None
28    None
29    None
30    None
31    None
Name: vk.com, dtype: object

Pred = nan
Correct = 33    None
34    None
35    None
36    None
37    None
38    None
39    None
40    None
41    None
42    None
Name: vk.com, dtype: object

Pred = http://vk.com/public42622100
Correct = 43    https://vk.com/public42622100
44    https://vk.com/public42622101
45    https://vk.com/public42622102
46    https://vk.com/public42622103
47    https://vk.com/public42622104
48    https://vk.com/public42622105
49    https://vk.com/public42622106
50    https://vk.com/public42622107
51    https://vk.com/public42622108
52    https://vk.com/public42622109
Name: vk.com, dtype: object

Pred = nan
Correct = 53    None
54    None
55    None
56    None
57    None
58    None
59    None
60    None
61    None
62    None
63    None
64    None
65    None
66    None
67    None
68    None
69    None
70    None
71    None
Name: vk.com, dtype: object

Pred = http://vk.com/athockey
Correct = 75    https://vk.com/athockey
76    https://vk.com/athockey
77    https://vk.com/athockey
78    https://vk.com/athockey
79    https://vk.com/athockey
80    https://vk.com/athockey
81    https://vk.com/athockey
82    https://vk.com/athockey
83    https://vk.com/athockey
84    https://vk.com/athockey
85    https://vk.com/athockey
Name: vk.com, dtype: object

0.38461538461538464

Больше всего тут ситуаций None - None, их стоит исключать из рассчета accuracy.

**Метро**

In [135]:
calc_accuracy(
    table, result,
    'Метро', 'metro_station',
)

0.07692307692307693

In [136]:
calc_accuracy(
    table, result,
    'Метро', 'metro_station',
    print_wrong_answers=True
)

Pred = nan
Correct = 0    Ясенево
Name: Метро, dtype: object

Pred = nan
Correct = 1    Цветной бульвар, Трубная
Name: Метро, dtype: object

Pred = nan
Correct = 2    Охотный ряд
Name: Метро, dtype: object

Pred = nan
Correct = 3    Белорусская, Динамо
4           Юго-Западная
Name: Метро, dtype: object

Pred = nan
Correct = 6    Марьина роща
Name: Метро, dtype: object

Pred = nan
Correct = 7    Марьина роща
Name: Метро, dtype: object

Pred = nan
Correct = 8    Таганская
Name: Метро, dtype: object

Pred = nan
Correct = 9    Менделеевская
Name: Метро, dtype: object

Pred = Парк культуры (линия 5)
Correct = 10    Парк культуры
11        Чеховская
12        Таганская
Name: Метро, dtype: object

Pred = nan
Correct = 13    Улица Горчакова
Name: Метро, dtype: object

Pred = Белорусская (линия 5)
Correct = 14      Белорусская
15    Речной вокзал
Name: Метро, dtype: object

Pred = nan
Correct = 16    Сухаревская
Name: Метро, dtype: object

Pred = Менделеевская
Correct = 17    Краснопресненская
18       Новослободская
19           Маяковская
Name: Метро, dtype: object

Pred = nan
Correct = 24            Красные ворота
25    Преображенская площадь
Name: Метро, dtype: object

Pred = nan
Correct = 26    Спортивная
Name: Метро, dtype: object

Pred = nan
Correct = 27         Киевская
28    Тимирязевская
29    Братиславская
30       Бауманская
31            Сокол
Name: Метро, dtype: object

Pred = nan
Correct = 32    Нагорная
Name: Метро, dtype: object

Pred = nan
Correct = 33                             Римская
34                        Измайловская
35                     Улица 1905 года
36                        Алексеевская
37                          Кунцевская
38           Дмитровская, Фонвизинская
39    Фрунзенская, Спортивная, Лужники
40                        Авиамоторная
41                         Семеновская
42                             Люблино
Name: Метро, dtype: object

Pred = nan
Correct = 43                  Аэропорт
44                      ЦСКА
45                      Фили
46              Черкизовская
47              Черкизовская
48             Нижегородская
49                  Строгино
50    Ломоносовский проспект
51                   Трубная
52                  Жулебино
Name: Метро, dtype: object

Pred = nan
Correct = 53        Чеховская, Трубная, Пушкинская
54                      Ботанический сад
55                            Сокольники
56                            Бауманская
57                   Полежаевская, Сокол
58                              Отрадное
59                           Достоевская
60                           Университет
61    Проспект Вернадского, Юго-Западная
62                          Текстильщики
63                    Рязанский проспект
64                 Петровско-Разумовская
65                        Водный стадион
66                              Жулебино
67                             Щукинская
68                           Коломенская
69                            Сокольники
70                         Парк культуры
71               Октябрьское поле, Сокол
Name: Метро, dtype: object

Pred = nan
Correct = 72     Румянцево
73    Медведково
74       Ясенево
Name: Метро, dtype: object

Pred = nan
Correct = 75                  Киевская
76              Авиамоторная
77               Новогиреево
78             Нижегородская
79                Крылатское
80                  Киевская
81                      ЦСКА
82           Багратионовская
83    Ломоносовский проспект
84               Сходненская
85               Селигерская
Name: Метро, dtype: object

Pred = Международная
Correct = 86            Водный стадион
87                 Алтуфьево
88                Медведково
89    Отрадное, Бабушкинская
90                      ВДНХ
91     Петровско-Разумовская
92                 Щукинская
93                Пушкинская
94    Ломоносовский проспект
95              Чертановская
96                     Анино
97                    Выхино
98        Славянский бульвар
Name: Метро, dtype: object

Pred = nan
Correct = 99         Водный стадион
100          Марьина роща
101           Новогиреево
102    Рязанский проспект
103              Дубровка
104         ЗИЛ, Тульская
105              Крымская
106            Павелецкая
Name: Метро, dtype: object

0.07692307692307693

Кажется, тут все ошибки - парсер вернул None.

**Телефон**

пока не написал работающий подсчет

In [147]:
def phone_preproc(num):
    num = str(num)
    num = num.replace(' ', '')
    num = num.replace('-', '')
    num = num.replace('+', '')
    num = num.replace('(', '')
    num = num.replace(')', '')
    return num

In [150]:
calc_accuracy(
    table, result,
    'Телефон', 'phone',
    print_wrong_answers=True
)

Pred = +7 917 536 70 02
Correct = 0    79175367002
Name: Телефон, dtype: object

Pred = +7 (925) 488-82-47
Correct = 1    74993978111
Name: Телефон, dtype: object

Pred = +7 (915) 255-43-78
Correct = 2    79152554378
Name: Телефон, dtype: object

Pred = 8(495)920-12-80
Correct = 3    74959201280
4    74959201278
Name: Телефон, dtype: object

Pred = +7(499) 551-56-15
Correct = 5    74995515615
Name: Телефон, dtype: object

Pred = nan
Correct = 6    79636017444
Name: Телефон, dtype: object

Pred = nan
Correct = 7    79036859430; 79645614108
Name: Телефон, dtype: object

Pred = nan
Correct = 8    79036859430; 79645614108
Name: Телефон, dtype: object

Pred = nan
Correct = 9    79036859430; 79645614108
Name: Телефон, dtype: object

Pred = 8 (495) 120-17-14
Correct = 10    74993808370 (доб.1)
11    74993808370 (доб.2)
12    74993808370 (доб.3)
Name: Телефон, dtype: object

Pred = 8-977-651-44-10
Correct = 13    74951424428; 79776514410
Name: Телефон, dtype: object

Pred = 8(499)391-56-76
Correct = 14    74993915676
15    74993915676
Name: Телефон, dtype: object

Pred = nan
Correct = 16    74956652015; 79256652015
Name: Телефон, dtype: object

Pred = nan
Correct = 17    None
18    None
19    None
Name: Телефон, dtype: object

Pred = +7 (342) 236 40 30
Correct = 20    74954778927
21    74954778927
22    74954778927
23    74954778927
Name: Телефон, dtype: object

Pred = +7 (495) 204 30 40
Correct = 24    79168094259
25    79168094259
Name: Телефон, dtype: object

Pred = +7 (495) 109 05 05
Correct = 26    74951090505
Name: Телефон, dtype: object

Pred = nan
Correct = 27    74993504903
28    74993504903
29    74993504903
30    74993504903
31    74993504903
Name: Телефон, dtype: object

Pred = +7 (916) 576-57-75
Correct = 32    79167806565; 79165765775
Name: Телефон, dtype: object

Pred = +7(916)204-58-96
Correct = 33    79162045896
34    79162045896
35    79162045896
36    79162045896
37    79162045896
38    79162045896
39    79162045896
40    79162045896
41    79162045896
42    79162045896
Name: Телефон, dtype: object

Pred = +7 499 408 03 23
Correct = 43    79055743106
44    79055743106
45    79055743106
46    79055743106
47    79055743106
48    79055743106
49    79055743106
50    79055743106
51    79055743106
52    79055743106
Name: Телефон, dtype: object

Pred = +7-916-023-64-34
Correct = 53    79771095510; 79160236434
54    79771095510; 79160236434
55    79771095510; 79160236434
56    79771095510; 79160236434
57    79771095510; 79160236434
58    79771095510; 79160236434
59    79771095510; 79160236434
60    79771095510; 79160236434
61    79771095510; 79160236434
62    79771095510; 79160236434
63    79771095510; 79160236434
64    79771095510; 79160236434
65    79771095510; 79160236434
66    79771095510; 79160236434
67    79771095510; 79160236434
68    79771095510; 79160236434
69    79771095510; 79160236434
70    79771095510; 79160236434
71    79771095510; 79160236434
Name: Телефон, dtype: object

Pred = nan
Correct = 72    79017173321
73    79017173321
74    79017173321
Name: Телефон, dtype: object

Pred = +7(495) 151 21 52
Correct = 75    74951512152; 79267000101
76    74951512152; 79267000101
77    74951512152; 79267000101
78    74951512152; 79267000101
79    74951512152; 79267000101
80    74951512152; 79267000101
81    74951512152; 79267000101
82    74951512152; 79267000101
83    74951512152; 79267000101
84    74951512152; 79267000101
85    74951512152; 79267000101
Name: Телефон, dtype: object

Pred = +7(916)639-80-05
Correct = 86    79166398005; 79253782124
87    79166398005; 79253782124
88    79166398005; 79253782124
89    79166398005; 79253782124
90    79166398005; 79253782124
91    79166398005; 79253782124
92    79166398005; 79253782124
93    79166398005; 79253782124
94    79166398005; 79253782124
95    79166398005; 79253782124
96    79166398005; 79253782124
97    79166398005; 79253782124
98    79166398005; 79253782124
Name: Телефон, dtype: object

Pred = 8 (916) 244-67-13
Correct = 99     79162446713; 79037672274
100    79162446713; 79037672274
101    79162446713; 79037672274
102    79162446713; 79037672274
103    79162446713; 79037672274
104    79162446713; 79037672274
105    79162446713; 79037672274
106    79162446713; 79037672274
Name: Телефон, dtype: object

0.0